* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header ************************************/
.barra-menu { 
    position: fixed;
    background-color: rgb(141, 139, 139);
    width: 100%;
    height: 5em;
    padding: 0 1.8em 0 1.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.barra-menu__title{
    display: block;
    float: left;
    font-size: 1.05em;
    color: white;
    padding-top: 1em;
    text-decoration: none;
}

.barra-menu__title strong{
    color: rgb(0, 0, 0);
}

.barra-menu__inicio {
    display: flex;
    float: right;
    z-index: 1; 
    justify-content: space-around;
    width: 34em;    
    margin-top: 0.9em;
    list-style: none;
}

#check {
    display: none;
}

.icono {
    display: none;
    cursor: pointer;
}

.barra-menu__inicio a {
    display: block;
    font-size: 0.9em; 
    font-weight: bold;
    width: auto;
    color: rgb(15, 15, 15);
    text-decoration: none;
    padding-top: 1.7em;
    justify-content: flex-end;
}

.barra-menu__inicio a:hover {
    color: rgb(255, 255, 255);
}

/* general ************************************/
main {
    min-height: 95vh;
    text-align: center;
    padding-top: 125px;
    font-size: 24px;
}

main h2 {
    animation: slidein 1.5s;
}   

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0;
        width: 100%
    }
}

.titulo {
   min-height: 50px;
}

/* Index ************************************/
.contenido {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    font-size: 24px;
    padding: 2em;
    width:100%;
    max-width: 1566px;
    margin: 0 auto;
}

.contenido__parrafo {
    margin: 2em 2% 2em 1%;
    padding: 1.5em;
    min-height: 20em;
    background-color: white;
    text-align: justify;
}

.contenido__imagen {
    height: 20em;
    margin: 2em 5% 3.95em 2%;
    overflow: hidden;
    box-shadow: 10px 20px 20px -10px; color: black;
}

/* Preguntas Frecuentes ************************************/
.preguntas p {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    padding-bottom: 70px;
    font-size: 22px;


}

/* Proyecto ************************************/
.proyecto {
    display: grid;
    grid-template-columns: repeat(3,300px);
    justify-content: center;
    padding: 70px;
    gap: 12px;
    max-width: 1320px;
    margin: 0 auto;
}

.proyecto__imagen {
    margin: 5px 2% 20px 2%;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 10px 20px 20px -10px; color: black;
}

.proyecto__imagen h3 {
    font-size: 20px;
    padding: 0.5em 0 0.5 0;
}

/* Estudio */
.estudio-parrafo {
    font-size: 24px;
    margin: auto;
    width: 50%;
    padding-top: 1em;
}

.estudio__imagen-staff {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 25px 0;
    background-color: rgb(63, 34, 34);
    margin: 2em 2em 2.9em 2em;
    color: white;
  
}

.staff1 {
    width: auto;
    font-size: 22px;
}

.staff1 img {
    width: 80%;
}

/* Formulario Contacto ************************************/
.contacto {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 24px;
    width:80%;
    margin: 0 auto;
    /* max-width: 1200px; */
}

#titulo-contacto {
    text-align: left;
    padding-left: 220px;
}

.formulario {
    margin-top: 75px;
    text-align: left;
    display: block;
    padding: 30px;
}

.formulario h4 {
    margin-top: 0.6em;

}

.datos {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    font-size: 65%;
}

.checkbox {
    font-size: 17px;
}

.mapa-datos {
    margin-top: 80px;
}

.mapa {
    display: block;
    width: 90%;
    margin: auto;
}

th {
    width: 30%;
}

fieldset {
    border: 0;
    margin-top:1.5em ;
} 

/*Pie de pagina ************************************/
footer {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(141, 139, 139);
    width: 100%;
    height: 2.8em;
    padding-top: 0.7em;
    border-top: .2em solid rgb(15, 15, 15);
    clear: both; 
}

@media (max-width: 969px) {

    /* Header */
    .icono {
        display: block;
        float: right;
        margin-top: 20px;
    }
 
    .barra-menu__inicio {
        display: flex;
        position: fixed;
        flex-direction: column;
        width: auto;
        right: -100%;
        height: 150px;
        margin-top: 70px;
        padding: 10px 15px 15px 15px;
        text-align: left;
        background: rgb(141, 139, 139);
        transition: all 1s;
    }
    .barra-menu__inicio li {
        display: block;
        margin: 5px 0;
        line-height: 2px;
    }

    .barra-menu__inicio li a {
        font-size: 12px;
    }
    

    #check:checked ~ ul{
        right: 0px;
    }    

    /* Estudio */
    .staff1 p {
        font-size: 18px;
    }

    /* Proyecto */
    .proyecto {
        grid-template-columns: repeat(2,300px);
    }

    /* Contacto */
    .contacto {
        grid-template-columns: 1fr;
    }

    .formulario {
      margin: 55px auto;
      background-color: rgb(141, 139, 139);
    }

    .mapa-datos {
        margin-top: -20px;
    }

    .datos {
        margin-top: 45px;
        margin-bottom: 35px;
    }
    
}

@media (max-width: 768px){

    /* Header ************************************/
    .contenido {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .contenido__parrafo {
     margin-top:-50px
    }

    /* Estudio ************************************/
    .estudio__imagen-staff {
        grid-template-columns: repeat(2,1fr);
        margin: 2em 2em 2.9em 2em;
        padding: 15px 0;
    }

    .staff1 {
        margin-top: 30px;
    }

    /* Proyecto ***********************************/
    .proyecto {
        grid-template-columns: 300px;
    }

    /* Contacto***********************************/
    .mapa {
        overflow: hidden;
        width: 250px;
        height: 250px;
    }

    .formulario {
        padding: 10px;
    }
}

@media (max-width: 400px) {

         /* Header */
    .barra-menu__title{
        font-size: 20px;
        color: white;
         padding-top: 1em;
        text-decoration: none;
    }
        
    .barra-menu__title strong{
        display: block;
        margin-top: -5px;
    }

    /* Estudio ************************************/
    .estudio__imagen-staff {
        grid-template-columns: 1fr;
        margin: 2em 2em 2.9em 2em;
        padding: 15px 0;
    }

    .estudio-parrafo {
        width: 90%;
    }

    /* Contacto ************************************/  
    .mapa {
        margin-left: 30px;
    }

    .formulario {
        padding: 50px;
        margin: 50px 0 50px -50px;
    }
}