.estudio {

    &__title {
        padding-top: 100px;
    }

    &__parrafo {
        font-size: 24px;
        margin: auto;
        width: 50%;
        padding-top: 18px;
    }

    &__imagen-staff {
        @include templateGrid(4);
        padding: 25px 0;
        background-color: rgb(63, 34, 34);
        margin: 2em 2em 2.9em 2em;
        color: white;
      
    }
}

.staff1 {
    width: auto;
    font-size: 22px;

    & img {
        width: 80%;
    }
    
    & h5 {
        padding-top: 15px;
    }
}

@media (max-width: 969px) {

    .estudio {
    
        &__parrafo {
            width: 80%;
        }

    
        &__imagen-staff {
        @include templateGrid(2);
        margin: 2em 2em 2.9em 2em;
        padding: 15px 0;
        }
    }

    .staff1 p {
        font-size: 18px;
    }

}

@media (max-width: 768px){

    .estudio__parrafo {
        width: 70%;
    }

    .staff1 {
        margin-top: 30px;
    }
}

@media (max-width: 660px) {

    .estudio-parrafo {
        width: 90%;
    }

    .estudio__imagen-staff {
        @include templateGrid(1);
        margin: 2em 2em 2.9em 2em;
        padding: 15px 0;
    }
}