.preguntas {
    padding: 100px 0 ;

    &__title {
        margin: 40px 0 20px 0;
    }
}

@media (max-width: 969px) {
    .preguntas__parrafo {
        font-size: 20px;
    }
}

@media (max-width: 400px) {

}