@import './components/variable';

footer {

    font-size: 18px;
    background-color: map-get($estilos,footcolor);
    color: rgb(245, 237, 237);
    width: 100%;
    height: 2.8em;
    line-height: 2.8em;
    position: fixed;
    bottom: 0;
    z-index: 70;
    clear: both; 
}