$estilos:(
    headcolor:  #212529,
    backcolor: rgb(251, 241, 241),
    fontcolor: black,
    footcolor: #212529
);

@mixin templateGrid ($numcolum) { 

    display: grid;
    grid-template-columns: repeat($numcolum, 1fr);
    
}